* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.cartSection {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-color: #EAEDED;
}

.cartContainer {
    /* height: 100%; */
    margin-top: 100px;
    margin-bottom: 100px;
    /* z-index: 0; */
    width: 100%;
    height: 85%;

    background-color: #EAEDED;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 20px;
    /* background-color: black; */
}
a{
    text-decoration: none;
}
.added-product {
    min-height: 420px;
    /* width: 100%; */
    /* border: 2px solid black; */
    margin-left: 100px;
    background-color: white;
    /* height: 100%; */
    padding: 30px;
}
.added-product>h1{
    /* padding: 30px 20px; */
    font-size: 28px;
    padding-bottom: 20px;
    font-family: Arial,sans-serif;
    font-weight: 400;
    line-height: 36px;
    border-bottom:1px solid #d9dbdb;
}
.added-product>h1>p{
    font-size: 1rem;
}
/* Price calculation section */
.pricingCalculation {
    /* width:100%; */
    /* border: 2px solid rgb(62, 61, 61); */
    background-color: white;
    margin-right: 50px;
    max-height: 420px;
    min-width: 300px;
    /* position: -webkit-sticky; */
    position: sticky;
    /* position:none; */
    top: 0px;
}

.totalItems {
    padding: 20px;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.totalItems>div {
    margin-top: 15px;
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.05rem;
}

.priceDetails {
    padding: 20px;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* text-align: center; */
    border-bottom: 1px solid rgb(146, 144, 144);
    /* height: 50px; */
}

.checkOutBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

.finalAmount {
    border-top: 1px dashed #bec1c3;
    padding: 20px 0px;
    border-bottom: 1px dashed #bec1c3;
}

.free {
    color: green;
}

button {
    cursor: pointer;
}

/* Items Added Section */
.added-product .items {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    font-size: 1.1rem;
    border-bottom: 1.5px solid #bec1c3;
    flex-wrap: wrap;
}

.items>.price {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 20px;
}

.modificationBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.specification {
    align-self: center;
}

.specification>* {
    margin: 10px;
}
.items .image div{
    width: 359px;
    height: 240px;
    background:center;
}

.items button{
    padding: 5px 15px;
    font-size: .9rem;
    font-weight: 500;
}
.items .counter>*{
    margin: 5px;
}
.items .counter input{
    padding: 5px 15px;
    width: 50px;
    font-size: 1rem;
}
.items .counter button{
    font-size: 1rem;
    font-weight: 600;
}
.specification .name{
    font-size: 1.3rem;
    font-weight: 600;
}
.resturentName{
    /* font-weight: 600; */
}
.items .deliveryStatus{
    font-size: 14px;
    font-weight: 400;
}







@media screen and (max-width:920px) {
    .cartContainer {
        margin-top: 100px;
        margin-bottom: 100px;
        /* z-index: 0; */
        width: 100%;
        height: 85%;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-gap: 20px; */
        /* background-color: black; */
    }
    .pricingCalculation{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -1;
        position: relative;
        margin-left: 20vw;
        margin-right: 0px;
        max-height: 420px;
        max-width: 500px;
        align-self: center;
    }
    .cartContainer{

        grid-column-start: 2;
        grid-row-start: 2;
        
    }
    .added-product {
        /* width: 100%; */
        margin-left: 0px;
        background-color: white;
    }
}

@media screen and (max-width:660px) {
    .pricingCalculation{
        /* margin-right: 50px; */
        margin-left: 0px;
        max-height: 420px;
        max-width: 660px;
        /* align-self: center; */
    }
}
@media screen and (max-width:420px) {
    .added-product .items {
        padding:0px;
        border-bottom: 0;
    }
    .added-product{
        padding: 0;
    }
}